*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
$black:#121212;
$blue:#222433;
$green:#00D975;
@font-face {
    font-family: 'M Bold';
    src: url('../Montserrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'M medium';
    src: url('../Montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'M Reg';
    src: url('../Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'M Light';
    src: url('../Montserrat/Montserrat-Light.ttf');
}

body{
    background-color: $black;
    overflow-x: hidden;
    zoom: 100%;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-family: 'M Reg';
    position: absolute;
    width: 100%;
}
.Nav a:hover {
    color:$green;
    text-decoration: underline;;
}
.logo img{
    width: 100%;
    width: 80px;
}
.Nav a,.navlinks a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
#Home{
    width: 100%;
    height: 100vh;
    background-image: url("../Images/LandingBack.png");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing{
    display: flex;
    justify-content: space-evenly;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 70px;
    font-family: 'M Bold';
    font-family: 'Press Start 2P', cursive;
}
.content h3{
    font-size: 30px;
    font-family: 'M Light';
    margin-top: 30px;
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
}
button{
    background: none;
    border: none;
    padding: 12px 25px;
    font-family: 'M Reg';
    margin-top: 50px;
    cursor: pointer;
}
.normal{
    color: white;
    margin-left: 10px;
}
.CTA{
    background-color: $green;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
.CTA:hover{
    box-shadow: $green 0px 10px 50px;
}
#services,#customers{
    color: white;
    min-height: 600px;
    text-align: center;
    padding: 50px;
    font-size: zpx;
    font-family: 'M Bold';
}
#services{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#S_Head{
    font-size: 30px;
}
#team{
    background-color: white;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 500px;
    padding: 20px 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'M Bold';
}
#team a{
    color: $black;
}
#Divya{
    display: flex;
    flex-direction: row-reverse;
}
#customers{
    background-color: white;
    color: $black;
}
.group{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}
.tile{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.5s ease-in-out;
    cursor: grab;
}
.tile:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.tile h3{
    font-family: 'M Bold';
    font-size: 25px;
    margin: 5px 0;
    transform: translate(10%,100%);
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.tile:hover h3{
    transform: translate(0%,0%);
}
.tile p{
    font-size: 12px;
    font-family: 'M Bold';
    color: #838383;
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.tile i{
    font-size: 15px;
    margin-right: 10px;
    transition: 0.5s ease-in-out;
    transition-delay: 0.8s;
    opacity: 0;
}
.tile:hover p{
    opacity: 1;
}
.tile:hover i{
    opacity: 1;
}
.tile img{
    width: 150px;
    transition: 0.5s ease-in-out;
}
.tile:hover img{
    transform: translate(-20%,-20%) scale(1.5);
}
.tile div{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}
#customers{
    position: relative;
    padding: 50px 0%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#customers span{
    cursor: pointer;
}
//Caurosel
.C_Review{
    width: 100vw;
    display: flex;
    overflow-x: scroll;
}
#leftslide,#rightslide{
    position: absolute;
    font-size: 40px;
}
#leftslide{
    left: 1%;
}
#rightslide{
    right: 1%;
}
#customers h3{
    font-size: 30px;
}
.RT{
    min-width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.RT img{
    width: 100px;
    border-radius: 50px;
}
.RT p{
    width: 80%;
    padding: 50px;
    font-family: 'M Reg';
}
.Carcon{
    position: relative;
}
.Carcon img{
    width: 100px;
    border-radius: 100px;
}
.Carcon h3{
    font-size: 30px;
}
.Carcon p{
    font-size: 20px;
    font-style: italic;
}
footer{
    min-height: 300px;
    padding: 50px;
    padding-top: 20px;
    color: white;
}
footer img{
    width: 150px;
}
footer .content{
    text-align: start;
}
.content div{
    display: flex;
    margin: 30px 10px;
}
.content i{
    color: $green;
    margin: 0 15px;
}
#whyus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: $black;
    font-family: 'M Bold';
    font-size: 30px;
    padding: 50px;
    text-align: center;
}
#whyus p{
    font-size: 20px;
    padding: 50px;
    font-family: 'M Reg';
    width: 1100px;
}
.workedwith{
    padding: 100px 0;
}
.workedwith img{
    width: 150px;
}
.workedwith div{
    margin: 50px 0 0 0;
}
.rTab{
    width: 100vw;
}
.rTab img{
    width: 100px;
    border-radius: 100px;
}
.rTab p{
    font-size: 15px;
    text-align: center;
    padding: 20px 200px;
}
.fcon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: 20px 50px;
}
.icon{
    padding: 20px;
}
.SC{
    padding: 10px;
}
.serviceTab{
    text-align: start;
    display: flex;
    margin: 20px;
}
.serviceTab h3{
    font-size: 25px;
    color: $green;
}
.serviceTab p{
    font-size: 15px;
    font-family: 'M Reg';
    width: 320px;
    margin: 15px 0 0 0;
    transition: 0.5s ease;
}
.servicecon{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.T1,.T2,.T3,.T4,.T5{
    transition: 0.5s ease;
}
.aftereffect,.aftereffect .AfterTile,.T1After,.T2After,.T3After,.T4After,.T5After{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -2;
    transition: 0.5s ease-in-out;
}
.AfterTile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AfterTile h3{
    margin: 10px 0;
}
.aftereffect{
    opacity: 0;
}
.AfterTile p{
    font-size: 15px;
    width: 600px;
    font-family: 'M Reg';
}
.BeforeScroll{
    opacity: 0;
}
.AfterScroll{
    opacity: 1;
}
* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
//Carousel-End
.CCon{
    overflow-x: scroll;
    position: relative;
    display: flex;
}
.burger{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    right: 0;
}
.burger i{
    font-size: 25px;
}
#close{
    display: none;
}
.burger div{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.NavDiv_mob{
    display: flex;
    align-items: center;
    text-align: center;
}
.Nav_Mob{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 300px;
    background-color: #121212;
    display: none;
}
#NavList{
    z-index: 0;
    transition: 0.5s ease-in-out;
}
@media only screen and (min-width: 1200px) {
    .illustration{
        display: block;
    }
    .Nav_Mob{
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    .illustration img{
        width: 400px;
    }
    .Nav_Mob{
        display: none;
    }
    .content h1{
        font-size: 50px;
    }
    #whyus p{
        width: 100vw;
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .Nav{
        display: none;
    }
    .navlinks{
        display: flex;
        transform: translate(0%,-100%);
    }
    .illustration{
        display: none;
    }
    #whyus p{
        width: 100vw;
        font-size: 20px;
    }
}

//Mobile
@media only screen and (max-width: 600px){
    body,html{
        width: 100vw;
    }
    //Navigation
    .Nav{
        display: none;
    }
    .navlinks{
        display: flex;
    }
    //Nav-end
    .illustration{
        display: none;
    }
    #services{
        padding: 50px 10px;
    }
    .servicecon h3{
        font-size: 14px;
    }
    #team h3,#S_Head{
        font-size: 20px;
    }
    #Divya{
        flex-direction: row;
    }
    .workedwith img{
        width: 100px;
    }
    .servicecon p{
        font-size: 10px;
        width: 100%;
    }
    .content{
        width: 100vw;
    }
    .content h1{
        font-size: 30px;
    }
    #whyus h3{
        font-size: 20px;
    }
    #whyus p{
        width: 100vw;
        font-size: 10px;
    }
    .tile{
        width: 300px;
        padding: 10px;
        margin: 10px 0;
        min-height: 100px;
    }
    .tile img{
        width: 100px;
    }
    .tile h3{
        font-size: 15px;
    }
    .tile p{
        font-size: 8px;
    }
    .AfterTile p{
        width: 100%;
    }
    .C_Review{
        margin: 50px 0 0 0;
    }
    .RT p{
        font-size: 10px;
    }
}